


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Assignment 3: Team 9</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
<form action="/submit" method="Post">
    <p>Advances in Data Science -Team 9</p>

    <select name="Model Type">
  <option value="regression">Regression</option>
  <option value="classification">Classification</option>
  <option value="clustering">Clustering</option>

</select><br><br>
    Date:<br>
    <input id="date" name="date" type="date" value="2011-01-13"/><br>

  Hour:<br>
  <input type="text" name="hour"><br>
    Temperature:<br>
  <input type="text" name="temperature"><br><br>
<input type="submit" value="Evaluate">

</form>

</body>
</html>