<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Time Analysis</title>
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
     <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
<h3>Real Time Sentimental Analysis for Restaurants</h3>
<form action ="/Analysis" method="Post">
    <div class="form-group"></div>
    <label for="usr">Business Name:</label>

    <input type="text" class="form-control" name="businessName">
    <sub>(Sample Values to input are Boston Shawarma or Chicken Lous or cheesecake factory)</sub>
    </div><br><br>
    <input type="submit" class="btn btn-info" value="Submit">
    <p>Note:Live reviews are first scrapped from Yelp website to conduct sentimental analysis</p>
</form>
</body>
</html>